<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevUpTweet.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DevUpTweet.Properties.Settings1>
            <setting name="consumerSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="consumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="accessSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="userID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="screenName" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTweetTime" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTweetId" serializeAs="String">
                <value>1184540125772079106</value>
            </setting>
            <setting name="lastRetweetTime" serializeAs="String">
                <value />
            </setting>
            <setting name="lastRetweetId" serializeAs="String">
                <value>1184540125772079106</value>
            </setting>
            <setting name="lastBadTagId" serializeAs="String">
                <value>1184540125772079106</value>
            </setting>
        </DevUpTweet.Properties.Settings1>
    </userSettings>
</configuration>